// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rating {
	text-align: center;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.cover_img {
	width: 100%;
	margin-top: 100px;
	z-index: -100;
}

.back_link{
	text-align: center;
	font-family: "neou"
	
}


.product_img{
	float: left;
	margin-left: 0px;
	margin-right: 0px;
	width: 400px;
	height: auto;
}

.product_info{
	margin-left: 0px;
	margin-right: 0px;
}

.product_options{
	margin-left: 0px;
	margin-right: 0px;
}



img {
	width: 60%;
}

.header {
	text-align:center;
	font-family: "neou";
	font-size: 100px;
	margin:0px;
}




.log_in {
	position:relative;
	text-align: right;
	font-family: "neou";
	font-size: 30px;
}

.new {
	position: absolute;
	right: 10px;
	left: 0;
}

a {
	text-decoration:none;

}
a:visited {
	color: rgba(88, 88, 88, 1);
}

.gridwrapper {
	overflow: hidden;
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 20px;
	max-width: 1275px;
	margin-right: auto;
	margin-left: auto;
}

.tile{
	float:left;
	position: relative;
	width:20%;
	padding-bottom:20%;
}

.tileinner{
	 position: absolute;
     left: 10px;
     right: 10px;
     top: 10px;
     bottom: 10px;
     overflow: hidden;
     font-family: 'neou';

}

.tileInner image_link {
      width: 100%;
}
.tileInner img {
	width: 200px;
}

.thumbnail {
	width: 200px;
	height: 200px;
	margin: 10px;
	padding: 0px;
}


h1{

	font-family: "hipster script pro";
	font-size: 30px;
	text-align: center;
	color:#667618;
	margin-top: 25px;
	margin-bottom: 25px; 
}


p{
	font-family: "neou";
	font-size: 18px;
	text-align: left;
	color: #667618;
}

form{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.editing {
	width: 600px;
	padding-left: 171px;
	padding-right: 0px;
}

.input{
	width: 158px;
}


.rating_form{
	width:100%;
}
